@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --clr-present: var(--clr-yellow);
  --clr-correct: var(--clr-green);
  --clr-absent: var(--clr-med-grey);
  --clr-key-text: var(--clr-black);
  --clr-key-bkgnd: var(--clr-light-grey);
  --clr-tile-text: var(--clr-black);
  --clr-tile-bkgnd: var(--clr-white);
  --clr-tile-highlight: 2px solid var(--clr-med-grey);
  --clr-error: var(--clr-red);
  --clr-red: #ea730b;
  --clr-white: #fff;
  --clr-black: #121212;
  --clr-green: #6aaa64;
  --clr-yellow: #c9b458;
  --clr-light-grey: #c6c3c3;
  --clr-med-grey: #787c7e;
  --clr-dk-grey: #454545;
  --keys-width: 8%;
  /* --keys-height: 50px; */
  --enterKey-width: 83px;
  --keypad-width: 500px;
}

@media (prefers-color-scheme: dark){
  :root{
    --clr-present: var(--clr-yellow);
    --clr-correct: var(--clr-green);
    --clr-absent: var(--clr-dk-grey);
    --clr-key-text: var(--clr-white);
    --clr-key-bkgnd: var(--clr-med-grey);
    --clr-tile-text: var(--clr-white);
    --clr-tile-bkgnd: var(--clr-white);
    --clr-tile-highlight: 2px solid var(--clr-med-grey);
    --background: var(--clr-black);
    --border-highlight: 2px solid var(--clr-dk-grey);
    --clr-white: #fff;
    --clr-black: #121212;
    --clr-red: #ea730b;
    --clr-green: #6aaa64;
    --clr-yellow: #c9b458;
    --clr-light-grey: #bcbcbc;
    --clr-med-grey: #787c7e;
    --clr-dk-grey: #454545;
    --clr-error: var(--clr-red);
  }

  div.logo{
    fill: var(--clr-white);
    opacity: .75;
  }
  .modal{
    background: rgba(20,20,20,0.7);
  }
  .modalTitle{
    color: var(--clr-dk-grey);
  }
}
@media(min-width: 400px){
  div.errorMsg{
    width: 100%;
    text-align: center;
    border: 0px solid white;
    color: var(--clr-error);
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .logo {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    text-align: center;
  }
  h1{
    margin: 50px 0 0 10px;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1em;
  }
  
}
@media(max-width: 390px){
  :root{
    --clr-white: #fff;
    /* --clr-key-text: var(--clr-black); */
    --enterKey-width: 60px;
    --keys-width: 8%;
    --keys-height: 64px;
    --keypad-width: 370px;
  }
  .logo {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    text-align: center;
  }
  h1{
    margin: 10px 0 0 10px;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1em;
  }
  div.row {
    width: 300px;
    margin-left: calc((100% - 290px) / 2);
    display: flex;
    align-items: center;
    border: 0px solid blue;
  }
  div.row > div {
    font-weight: 600;
    font-size: 1.75em;
    line-height: 1.75em;
    width: 50px;
    height: 50px;
  }
  div.errorMsg{
    color: var(--clr-error);
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 10px;
  }
  div.deleteKey{
    max-width: fit-content;
  }

}

body {
  background: var(--background);
  font-size: 1em;
  font-family: 'Clear Sans', 'Helvetica Neue', sans-serif;
  color: var(--clr-letter);
  text-align: center;
}
.App{
  width: 100vw;
  height: 100vh;
}
h1{
  line-height: 2em;
}
.modalTitle {
  font-size: 1.75em;
  line-height: 3em;
  text-align: center;
}
div.deleteKey{
  max-width: 40px;
}
span.stats {
  font-size: 2em;
}
.grid {
  width: 100vw;
  justify-content: center;
}
/* rows */
.row {
  width: 340px;
  margin-left: calc((100% - 340px) / 2);
  display: flex;
  align-items: center;
  border: 0px solid blue;
}
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid var(--clr-med-grey);
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5em;
  color: var(--clr-key-text);
}
.row > div.filled {
  color: var(--clr-tile-text);
  border: var(--clr-tile-highlight);
  animation: pulse 0.25s ease forwards;
}
.row > div.green {
  --background: var(--clr-correct);
  --border-color: var(--clr-correct);
  animation: flip 0.35s ease forwards;
}
.row > div.grey {
  --background: var(--clr-absent);
  --border-color: var(--clr-absent);
  animation: flip 0.6s ease forwards;
}
.row > div.yellow {
  --background: var(--clr-present);
  --border-color: var(--clr-present);
  animation: flip 0.5s ease forwards;
}
.row > div.winner:nth-child(1) {
  --background: var(--clr-correct);
  --border-color: var(--clr-correct);
  animation: flip 0.35s, success .25s ease-in-out .5s;
}
.row > div.winner:nth-child(2) {
  --background: var(--clr-correct);
  --border-color: var(--clr-correct);;
  animation: flip 0.35s, success .25s ease-in-out .75s;
}
.row > div.winner:nth-child(3) {
  --background: var(--clr-correct);
  --border-color: var(--clr-correct);
  animation: flip 0.35s, success .25s ease-in-out 1s;
}
.row > div.winner:nth-child(4) {
  --background: var(--clr-correct);
  --border-color: var(--clr-correct);
  animation: flip 0.35s, success .25s ease-in-out 1.25s;
}
.row > div.winner:nth-child(5) {
  --background: var(--clr-correct);
  --border-color: var(--clr-correct);
  animation: flip 0.35s, success .25s ease-in-out 1.5s;
}
div.winner{
  color: whitesmoke;
  background: var(--clr-correct);
}
.keypad {
  text-align: center;
  width: var(--keypad-width);
  margin-top: 4px;
  margin-left: calc((100% - var(--keypad-width)) / 2);
  cursor: pointer;
}
.keypad > div {
  margin: 3px;
  font-size: .8em;
  font-weight: 600;
  color: var(--clr-key-text);
  width: var(--keys-width);
  height: var(--keys-height);
  background: var(--clr-key-bkgnd);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 6px;
  line-height: 50px;
  --webkit-user-select: none;
  user-select: none;
}
.keypad > div.green {
  background: var(--clr-correct);
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.yellow {
  background: var(--clr-present);
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.grey {
  background: var(--clr-absent);
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.enterKey{
  width: var(--enterKey-width);
  font-size: .85em;
}
.keypad > div.deleteKey{
  font-size: .85em;
  width: 70px;
}
.modal {
  background: rgba(255,255,255,0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10em auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.modal .solution {
  color: var(--clr-error);
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
table {
  width: 80%;
  margin: 10px;
  margin-left: 10%;
}
td {
  margin: 0;
  padding: 0;
  width: 50%;
  text-transform: capitalize;
}
.statsContainer{
  text-align: center;
}
.statsItem{
  margin-top: -20px;
}
.statsNumber {
  padding:  0;
  margin: 0;
  font-size: 2.5em;
}
span.statsLabel {
  margin-top: -20px;
  color: var(--clr-med-grey);
  font-size: .8em;
}
button {
  display: relative;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--clr-correct);
  color: var(--clr-white);
  box-shadow: 0px 2px 6px #99a497;
  font-size: 1.25em;
  cursor: pointer;
  border: none;
}
/* img {
  width: 70%;
  margin-bottom: -10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

@keyframes success {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -30px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #fff;
  }
}

@keyframes pulse {
  0% { 
    transform: scale(1);
  }
  50% { 
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% { 
    transform: scale(1);
    border-color: #ddd;
  }
  50% { 
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}

